<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'loadpdfopnai' %}">
        <button id="btn">Load PDF</button>
    </form>
    <form action="{% url 'resultlcreadpdf' %}">
        <input type="text" name="iptxt1"> 
        <input type="submit" name="" value="submit">  
    </form>
    <div>
        Question: {{question}}
        <br />
        Result: {{result}}
    </div>
</body>
</html>